@tailwind base;
@tailwind components;
@tailwind utilities;


$headerHeight: 50px;

$debugColor-00: #f0f;
$debugColor-01: #ff0;


$defaultGutter: 10px;

body {
    background-color: #111E27;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #aaa;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    h1 {
        font-size: 2rem;
        color: #fff;
    }

    h2 {
        font-size: 1.5rem;
        color: #f0f;
    }



    .App {
        height: 100vh;
        width: 100vw;
        position: relative;

        &.debug {
            border: dashed 1px $debugColor-00;
            .debug {
                border: dashed 1px $debugColor-01;
            }
        }

        .demo-block {
            margin-bottom: 10px;
        }

        .panel {
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 10px;
            max-height: calc(100vh - #{$headerHeight});
            overflow: auto;
        }

        .post {
            margin-bottom: 10px;
        }
    }

    .header {
        height: $headerHeight;
        width: 100%;
        background-color: #333;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 #{$defaultGutter * 2};
        gap: $defaultGutter;

        .user_menu {
            display: flex;
            gap: $defaultGutter;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
        }
    }
}